@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-position: inside;
    font-family: 'Outfit', sans-serif;
}
body {
    background-color: hsl(30, 54%, 90%);
    hr {border: 1px solid hsl(30, 18%, 87%);}
    ul, ol {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    li {
        margin: 0px 8px;
        color: hsl(332, 51%, 32%);
        span {
            margin-left: 16px;
            color: hsl(30 , 10 ,34%);
        }
    }
    ol li::marker {
        font-weight: 600;
    }
    ul li::marker {
        font-size: 12px;
    }
    .SecT {
        color: hsl(14, 45%, 36%);
    }
}

.Title{
    color : hsl(33, 8%, 23%);
} 

.mainpage {
    margin: 75px auto;
    max-width: 50%;
    background-color: white;
    border-radius: 16px;
    padding: 25px;
}

.mainpage h1, 
.mainpage h2 {
    font-family: 'Young Serif', serif;
    margin: 16px 0px;
}

.mainpage .Omelette {
    width: 100%;
    border-radius: 16px;
}

.mainpage p {
    color: hsl(30, 10%, 34%);
}

.mainpage section {
    margin: 20px 0px;
}

.Preparation {
    background-color: hsl(330, 100%, 98%);
    padding: 16px;
    font-size: 12px;
    border-radius: 8px;
    position: relative;
}

.Preparation .preparationTime {
    color: hsl(332, 51%, 32%);
    margin-bottom: 10px;
}

.Preparation li {
    color: hsl(332, 51%, 32%);
}
.Preparation .CL {
    color: hsl(332, 51%, 32%);
    position: absolute;
        top: 0;
        right: 0;
        padding: 20px 30px;
        font-weight: bold;
}

.Ingredients{
    ul {
        list-style: square;
    }
}

.Nutrition {
    .NutritionTable {
        width: 100%;
        tr td {padding: 8px 0px;}
        tr:not(:last-child) td {border-bottom: 1px solid hsl(30, 18%, 87%);}
        span {color: hsl(30, 10%, 34%);}
        strong {color: hsl(332, 51%, 32%);}
    }
}