* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: hsl(0, 0%, 8%);
    color: white;
    min-height: 100vh;
    align-content: center;

    a {
        color: honeydew;
        background-color: hsl(0, 3%, 25%);
        border-radius: 5px;
        padding: 10px 0px;
        font-size: 14px;
        font-weight: 600;
    }
}

.profile {
    background-color: hsl(0, 0%, 12%);
    max-width: 30%;
    padding: 35px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;

    img {
        max-width: 25%;
        border-radius: 50%;
        margin-bottom: 15px;
    }

    .name {
        font-size: 24px;
        margin-bottom: 10px;
        color: ivory;
    }

    .add {
        color: rgb(163, 196, 0);
        font-weight: 700;
        margin-bottom: 20px;
    }

    .detail {
        color: hsl(0, 2%, 52%);
    }

    .links {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 10px;
        width: 100%;

        a {
            width: 80%;
            text-align: center;
            text-decoration: none;
            margin: 0 auto;
            transition: 250ms;
        }

        a:hover {
            color: hsl(0, 0%, 8%);
            background-color: hsl(351, 61%, 30%);
        }
    }
}